<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75b1fb">  <td>18/12/14 15:53:38</td>   <td>0</td> <td title="&lt;&lt;BaseClass.CloseBrowser()[pri:0, instance:com.Qa.test.QATestAssignment.RunnableTestClass@704a52ec]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>18/12/14 15:53:22</td>   <td>-15147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnableTestClass.Cosumption_Calculator()[pri:5, instance:com.Qa.test.QATestAssignment.RunnableTestClass@704a52ec]">Cosumption_Calculator</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="75b1fb">  <td>18/12/14 15:53:18</td>   <td>-19038</td> <td title="&gt;&gt;BaseClass.LaunchBrowser()[pri:0, instance:com.Qa.test.QATestAssignment.RunnableTestClass@704a52ec]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
</table>
